.App {
  text-align: center;
  display: block;
  width: 41%;
  margin: 10px auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.buttonClass {
  background: #28f5d7;
	height: 35px;
	padding: 0 19px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

.cartClassButton {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 10px;
}

.itemList {
  list-style-type: none;
  list-style-type: none;
  display: inline-block;
  width: 230px;
  padding: 25px 0px;
}

.itemName {
  color: #e97171;
}

/*.itemUl {
  text-align: left;
}*/

.itemPrice {
  color: green;
}

.imageClass {
  height: 108px;
}

.itemImage {
  width: 75px;
  display: inline-block;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 4px;
  background-color: steelblue;
  height: 51px;
  padding-top: 19px;
  font-size: xx-large;
  border-radius: 10px;
  font-style: oblique;
  font-weight: bold;
}

#cartImage {
  height: 50px;
  width: 50px;
  padding-right: 22px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 10px;
}

.countClass {
  position: absolute;
  top: 37px;
  right: 47px;
  color: #e9bb9e;
}

.liCart {
  list-style-type: none;
}

.qtyClass {
  width: 110px;
  margin: 10px auto;
  display: inline-block;
}

.rateClass {
  width: 110px;
  margin: 10px auto;
  display: inline-block;
}

.prdtClass {
  width: 110px;
  display: inline-block;
  margin: 10px auto;
}

.liCart:first-child {
  font-weight: bold;
}

.urclass {
  border-bottom: 2px grey;
  text-align: center;
  width: 110px;
  display: inline-block;
  margin-bottom: 11px;
  border-bottom-style: groove;
}